
@{
    ViewBag.Title = "Inicio";
}


<div class="text-center">
    <img src="https://facturandoya.com/web/wp-content/uploads/2021/11/12w-1024x577.png" class="img-fluid" alt="No se pudo cargar la imagen">
</div>

